@model AccountViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

<div class="align-content-center border-dark border-1 box-shadow">
    <form asp-controller="Account" asp-action="Login" method="post">
        <label asp-for="Email">Email</label>
        <br>
        <input type="email" asp-for="Email">
        <br>
        <br>
        <label asp-for="Password">Password</label>
        <br>
        <input type="password" asp-for="Password">
        <br>
        <br>
        <input type="submit">
    </form>
</div>