@model Event

@{
    ViewBag.Title = "Edit Event";
    Layout = "_Layout";
}

<div class="m-auto p-5 border border-secondary rounded-3 border-1 box-shadow shadow align-items-center align-content-center">
    <h2 class="card-title">Edit Event</h2>
    <br><br>
    <form class="align-items-center" asp-controller="Event" asp-action="Edit" method="post">
        <label asp-for="Title">Title</label>
        <br>
        <input class="input-group-text" type="text" asp-for="Title">
        <br>
        <label asp-for="Description">Description</label>
        <br>
        <input class="input-group-text text-lg-start" type="text" asp-for="Description">
        <br>
        <label asp-for="EventDate">Event Date</label>
        <br>
        <input class="input-group-text" type="datetime-local" asp-for="EventDate">
        <br>
        <label asp-for="MaxParticipants">Max perticipants</label>
        <br>
        <input class="input-group-text" type="number" asp-for="MaxParticipants">
        <br>
        <label asp-for="Location">Location</label>
        <br>
        <input class="input-group-text" type="text" asp-for="Location">
        <br>
        <br>
        <input type="hidden" asp-for="Id">
        <input type="submit" class="btn btn-primary" value="Edit">
    </form>
</div>
